<div class="main-footer">
    <div class="col-1">
        <div class="title">Exilocafe</div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        <div class="button-row">
            <span class="button footer-active-box">Dashboard</span>
            <span class="button">Homepage</span>
        </div>
    </div>
    <div class="col-2">
        <div class="sm-col">
            <span>Your dashboard</span>
            <span>FAQ / Knowledgebase</span>
            <span>Account help</span>
            <span>Contact support</span>
        </div>
        <div class="sm-col">
            <span>Partnerships</span>
            <span>Terms of service</span>
            <span>Cookie policy</span>
            <span>Legal support</span>
        </div>
    </div>
</div>