<div class="desktop-only pagination">
    <div class="btn"><i class="material-icons">keyboard_arrow_left</i></div>
    <div class="mdl-layout-spacer line"></div>
    <div class="btn primary">1</div>
    <div class="btn">2</div>
    <div class="btn">3</div>
    <div class="btn">4</div>
    <div class="btn">5</div>
    <div class="divider">...</div>
    <div class="btn">87</div>
    <div class="mdl-layout-spacer line"></div>
    <div class="btn"><i class="material-icons">keyboard_arrow_right</i></div>
</div>
<div class="mobile-only pagination">
    <div class="btn"><i class="material-icons">skip_previous</i></div>
    <div class="mdl-layout-spacer line"></div>
    <div class="btn"><i class="material-icons">keyboard_arrow_left</i></div>
    <div class="btn primary">1</div>
    <div class="btn"><i class="material-icons">keyboard_arrow_right</i></div>
    <div class="mdl-layout-spacer line"></div>
    <div class="btn"><i class="material-icons">skip_next</i></div>
</div>