<div class="forum-sidebar">
    <div class="sidebar-card">
        <div class="header">Custom sidebar card</div>
        <div class="content">
            <div style="height:300px"></div>
        </div>
    </div>
    <div class="sidebar-card">
        <div class="header">Statistics</div>
        <div class="content">
            <div class="sidebar-row">
                <div class="block">
                    <div class="big-text">58</div>
                    <div class="small-text">topics</div>
                </div>
                <div class="block">
                    <div class="big-text">1534</div>
                    <div class="small-text">posts</div>
                </div>
            </div>
            <div class="sidebar-row">
                <div class="block">
                    <div class="big-text">290</div>
                    <div class="small-text">members</div>
                </div>
                <div class="block">
                    <a class="big-text member-link" href="">Kryptoners</a>
                    <div class="small-text">newest member</div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-card">
        <div class="header">Active topics</div>
        <div class="content">
            <article class="sidebar-row post-row">
                <div class="post-title">Contrary to popular belief, Lorem Ipsum is not simply random text</div>
                <div class="author-box">
                    <div class="round-img img" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                    <div class="date">Apr 20, 2019, 22:05</div>
                </div>
            </article>
            <article class="sidebar-row post-row">
                <div class="post-title">Latin literature from 45 BC, making it over 2000 years old</div>
                <div class="author-box">
                    <div class="round-img img" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                    <div class="date">Apr 20, 2019, 22:05</div>
                </div>
            </article>
            <article class="sidebar-row post-row">
                <div class="post-title">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</div>
                <div class="author-box">
                    <div class="round-img img" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                    <div class="date">Apr 20, 2019, 22:05</div>
                </div>
            </article>
        </div>
    </div>
</div>