<div class="home-header-img">
    <div class="title">Forums</div>
</div>
<div class="module-content">
    <table class="forum-table">
        <tr>
            <th class="th-width--stretch">Main forums</th>
            <th class="table-align--center">Topics</th>
            <th class="table-align--center">Posts</th>
            <th>Last post</th>
        </tr>
        <tr class="category-link">
            <td>
                <div class="row-align--center">
                    <div class="category-icon" style="color:#fff;background-color:#39b54a;"><i class="fa fa-folder" aria-hidden="true"></i></div>
                    <div class="category-text">
                        <div class="title">Analytics dashboard tools</div>
                        <div class="subtitle">Lorem ipsum dolor sit amet and everything related with it</div>
                    </div>
                </div>
            </td>
            <td class="table-align--center">7</td>
            <td class="table-align--center">25</td>
            <td>
                <div class="row-align--center">
                    <div class="category-icon last-post-icon" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                    <div class="category-text last-post-text">
                        <div class="author">digital512</div>
                        <div class="date">Mar 14, 2019, 17:45</div>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="category-link">
            <td>
                <div class="row-align--center">
                    <div class="category-icon" style="color:#fff;background-color:#ff404a;"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
                    <div class="category-text">
                        <div class="title">CRM courses thread</div>
                        <div class="subtitle">Find useful tips and course collections</div>
                    </div>
                </div>
            </td>
            <td class="table-align--center">17</td>
            <td class="table-align--center">98</td>
            <td>
                <div class="row-align--center">
                    <div class="category-icon last-post-icon" style="background-image: url('/styles/themes/<%= theme %>/images/default-avatar.png');"></div>
                    <div class="category-text last-post-text">
                        <div class="author">digital512</div>
                        <div class="date">Mar 14, 2019, 17:45</div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>