@use '../../colors' as global_colors;

.category-menu > .content {
    display: flex;
    padding: 0 35px;
}
.category-menu > .content .button i:first-child {
    margin-right: 10px;
}
.category-menu > .content .button i.fa-caret-down {
    margin-left: 10px;
}
