@use '../../colors' as global_colors;
@use 'colors' as colors;
@use 'modifiers';

.forum-table {
    width: 100%;
    box-shadow: global_colors.$forumCardShadow;
    background-color: global_colors.$forumContentBackground;
    border-collapse: collapse;
}
.forum-table td,
th {
    border-bottom: 1px solid global_colors.$forumContentBorder;
    text-align: left;
    color: global_colors.$forumContentPrimaryText;
    padding: 20px 35px;
}
.forum-table tr:last-child td {
    border-bottom: none;
}
.forum-table .category-link {
    cursor: pointer;
    transition: 0.3s;
}
.forum-table .category-link > td {
    color: global_colors.$forumContentSecondaryText;
}
.forum-table .category-link:hover {
    background-color: global_colors.$forumContentArticleHover;
}
.forum-table .category-icon {
    background-color: colors.$categoryIconDefaultBackground;
    color: colors.$categoryIconDefaultText;
    font-size: 21px;
    min-width: 55px;
    min-height: 55px;
    height: 55px;
}
.forum-table .last-post-icon {
    min-width: 45px;
    min-height: 45px;
}
.forum-table .category-text {
    margin-left: 20px;
}
.forum-table .last-post-text {
    white-space: nowrap;
}
.forum-table .category-text > .title {
    color: global_colors.$forumContentPrimaryText;
}
.forum-table .last-post-text > .author {
    color: global_colors.$urlText;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
