.forum-table .th-width--stretch {
    width: 100%;
}
.forum-table .table-align--center {
    text-align: center;
}
.forum-table .row-align--center {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}
