@media only screen and (max-width: 1600px) {
    .forum-table td, th {
        padding: 20px 25px;
    }
    .users-box > .header {
        padding: 20px 25px;
    }
    .users-box > .content {
        padding: 20px 25px;
    }
}
