@use '../../colors' as global_colors;
@use 'colors' as colors;

.users-box {
    width: 100%;
    margin-bottom: 40px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: global_colors.$forumContentBackground;
    &:last-child {
        margin-bottom: 0;
    }
}
.users-box > .header {
    padding: 20px 35px;
    border-bottom: 1px solid global_colors.$forumContentBorder;
    font-weight: bold;
    color: global_colors.$forumContentPrimaryText;
}
.users-box > .header > i {
    font-style: inherit;
    color: colors.$onlineUsersCountText;
}
.users-box > .content {
    padding: 20px 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.users-box > .content > .btn {
    min-width: 45px;
    min-height: 45px;
    margin-right: 15px;
    cursor: pointer;
    outline: none;
    &:last-child {
        background-color: colors.$categoryIconDefaultBackground;
        color: colors.$onlineUsersMoreIcon;
        height: 45px;
        margin-right: 0;
        user-select: none;
        > i {
            font-size: 27px;
        }
    }
}
