.forum-table .th-width--stretch {
  width: 100%;
}

.forum-table .table-align--center {
  text-align: center;
}

.forum-table .row-align--center {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.forum-table {
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-collapse: collapse;
}

.forum-table:last-child {
  margin-bottom: 0;
}

.forum-table td, th {
  border-bottom: 1px solid #e8eef1;
  text-align: left;
  color: #00064b;
  padding: 20px 35px;
}

.forum-table tr:last-child td {
  border-bottom: none;
}

.forum-table .category-link {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.forum-table .category-link > td {
  color: #857f99;
}

.forum-table .category-link:hover {
  background-color: #f5f6f7;
}

.forum-table .category-icon {
  background-color: #eaeaea;
  color: #bdc4ce;
  font-size: 21px;
  border-radius: 50%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 55px;
  min-height: 55px;
}

.forum-table .last-post-icon {
  min-width: 45px;
  min-height: 45px;
  background-position: center;
  background-size: cover;
}

.forum-table .category-text {
  margin-left: 20px;
}

.forum-table .last-post-text {
  white-space: nowrap;
}

.forum-table .category-text > .title {
  color: #00064b;
}

.forum-table .last-post-text > .author {
  color: #006cfb;
  text-decoration: none;
}

.forum-table .last-post-text > .author:hover {
  text-decoration: underline;
}

.users-box {
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.users-box:last-child {
  margin-bottom: 0;
}

.users-box > .header {
  padding: 20px 35px;
  border-bottom: 1px solid #e8eef1;
  font-weight: bold;
  color: #00064b;
}

.users-box > .header > i {
  font-style: inherit;
  color: #39b54a;
}

.users-box > .content {
  padding: 20px 35px;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.users-box > .content > .btn {
  min-width: 45px;
  min-height: 45px;
  margin-right: 15px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.users-box > .content > .btn:last-child {
  background-color: #eaeaea;
  color: #a8a9b5;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.users-box > .content > .btn:last-child > i {
  font-size: 27px;
}

@media only screen and (max-width: 1600px) {
  .page-content > .module-content {
    padding: 80px 40px 40px 40px;
  }

  .home-header-img {
    padding: 80px 40px 80px 40px;
  }

  .forum-table td, th {
    padding: 20px 25px;
  }

  .users-box > .header {
    padding: 20px 25px;
  }

  .users-box > .content {
    padding: 20px 25px;
  }
}
@media only screen and (max-width: 1280px) {
  .module-content {
    flex-direction: column;
  }

  .module-content > .forum-sidebar {
    padding: 0;
    margin-top: 40px;
  }

  .forum-sidebar > .sidebar-card {
    width: initial;
  }

  .forum-sidebar > .sidebar-card > .header {
    padding: 20px 25px;
  }
}
@media only screen and (max-width: 1024px) {
  .page-content > .module-content {
    padding: 80px 0 40px 0;
  }
}
@media only screen and (max-width: 875px) {
  .resp--hide2 {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  .resp--hide1 {
    display: none;
  }
}
.module-content {
  display: -webkit-flex;
  display: flex;
  padding: 80px 80px 40px 80px;
  margin-top: -141px;
}

.module-content > .main-forum {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
