@use 'forum_table';
@use 'responsiveness';

.module-content {
    display: -webkit-flex;
    display: flex;
    padding: 80px;
    margin-top: -141px;
}
.module-content > .main-forum {
    width: 100%;
}
