@use 'forum_table';
@use 'users_box';
@use 'responsiveness';

.module-content {
    display: flex;
    padding: 80px 80px 40px 80px;
    margin-top: -141px;
}
.module-content > .main-forum {
    width: 100%;
}
