$bodyBackground: #f9f9fc;
$headerTitle: #fff;
$headerBackground: #fff;
$headerText: #000;
$footerBackground: #fff;
$primaryText: #00064b;
$urlText: #006cfb;
$secondaryText: #857f99;

$buttonPrimary: #39b54a;
$buttonPrimaryText: #fff;
$buttonPrimaryHover: #32a041;
$buttonPrimaryBorder: #39b54a;
$buttonPrimaryHoverBorder: #32a041;
$buttonSecondary: #fff;
$buttonSecondaryHover: #f5f6f7;
$buttonSecondaryBorder: #e8eef1;

$primaryBadge: #39b54a;
$primaryBadgeBorder: #fff;

$headerSearchInput: #f5f6f7;
$headerSearchInputFocus: #ebeced;
$headerSearchInputPlaceholder: #9c9eae;
$headerSearchIcon: #a8b7cd;
$headerNavigationLinkText: #555;

$drawerBackground: #fff;
$drawerNavigationLinkText: #212121;
$drawerNavigationLinkIcon: #757575;

$forumContentBackground: #fff;
$forumContentBorder: #e8eef1;
$forumContentPrimaryText: #00064b;
$forumContentSecondaryText: #857f99;
$forumContentArticleHover: #f5f6f7;
