$bodyBackground: #f9f9fc;
$headerTitle: #fff;
$headerBackground: #fff;
$headerText: #000;
$footerBackground: #fff;
$primaryText: #00064b;
$urlText: #006cfb;
$secondaryText: #857f99;

$forumCardShadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);

$buttonPrimary: #39b54a;
$buttonPrimaryText: #fff;
$buttonPrimaryHover: #32a041;
$buttonPrimaryActive: #288134;
$buttonPrimaryBorder: #39b54a;
$buttonPrimaryHoverBorder: #32a041;
$buttonSecondary: #fff;
$buttonSecondaryHover: #f5f6f7;
$buttonSecondaryActive: #ebeced;
$buttonSecondaryBorder: #e8eef1;
$buttonSecondaryText: #000;
$buttonSecondaryText2: #00064b;

$primaryBadge: #39b54a;
$primaryBadgeBorder: #fff;
$primaryBadgeBorderHover: #f5f6f7;

$headerSearchInput: #f5f6f7;
$headerSearchInputFocus: #ebeced;
$headerSearchInputPlaceholder: #9c9eae;
$headerSearchIcon: #a8b7cd;
$headerNavigationLinkText: #555;

$drawerBackground: #fff;
$drawerNavigationLinkText: #212121;
$drawerNavigationLinkIcon: #757575;

$forumContentBackground: #fff;
$forumContentBorder: #e8eef1;
$forumContentPrimaryText: #00064b;
$forumContentSecondaryText: #857f99;
$forumContentArticleHover: #f5f6f7;
$forumContentArticleActive: #ebeced;

$forumBoxSecondaryText: #39b54a;
$forumBoxLinkText: #555;

$userStatusOnline: #4caf50;
$userStatusAway: #ff6d00;
$userStatusNoDisturb: #f44336;
$userStatusOffline: #555;

$onlineUsersMoreIcon: #a8a9b5;
$onlineUsersMoreBackground: #eaeaea;

$paginationLine: #e4ebed;
