@use 'colors' as colors;

.home-header-img {
    width: 100%;
    height: 231px;
    background-image: url("/styles/themes/default/images/header-bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 80px;
}
.home-header-img > .title {
    color: colors.$headerTitle;
    font-size: 30px;
    font-weight: bold;
}
.round-img {
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}
.round-icon {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.has-dropdown {
    position: relative;
}
.mobile-only.header .has-dropdown {
    position: initial;
    flex-grow: 1;
}
.has-dropdown.nav-size {
    height: 100%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: colors.$buttonSecondary;
    min-width: 200px;
    overflow: auto;
    box-shadow: colors.$forumCardShadow;
    right: 0;
    z-index: 1;
}
.mobile-only.header > nav .dropdown-content {
    left: 0;
    min-width: initial;
}
.dropdown-content span {
    color: colors.$buttonSecondaryText;
    padding: 14px 16px;
    display: block;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    transition: 0.3s;
    &:hover {
        background-color: colors.$buttonSecondaryHover;
    }
    &:active {
        background-color: colors.$buttonSecondaryActive;
    }
}
.dropdown-content span > i {
    margin-right: 10px;
}
.dropdown-content .divider {
    height: 1px;
    overflow: hidden;
    background-color: colors.$buttonSecondaryBorder;
}
.user-status.online {
    color: colors.$userStatusOnline;
}
.user-status.away {
    color: colors.$userStatusAway;
}
.user-status.no-disturb {
    color: colors.$userStatusNoDisturb;
}
.user-status.offline {
    color: colors.$userStatusOffline;
}
.notifications-drop-box {
    width: 400px;
    max-height: 450px;
    overflow: auto;
}
.mobile-only.header > nav .notifications-drop-box {
    width: initial;
}
.notifications-drop-box > .notification {
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 1px solid colors.$forumContentBorder;
    &:hover {
        background-color: colors.$forumContentArticleHover;
    }
    &:active {
        background-color: colors.$forumContentArticleActive;
    }
    &:last-child {
        border-bottom: none;
    }
}
.notifications-drop-box > .notification > .avatar-img {
    min-width: 40px;
    min-height: 40px;
    margin-right: 20px;
}
.notifications-drop-box > .notification > .message {
    overflow: auto;
}
.notifications-drop-box > .notification .date {
    color: colors.$secondaryText;
}
.notifications-drop-box > .notification .from {
    font-weight: bold;
}
.notifications-drop-box > .notification .chat {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: colors.$secondaryText;
}
.users-box > .content {
    padding: 20px 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.users-box > .content > .btn {
    min-width: 45px;
    min-height: 45px;
    margin-right: 15px;
    cursor: pointer;
    outline: none;
    &:last-child {
        background-color: colors.$onlineUsersMoreBackground;
        color: colors.$onlineUsersMoreIcon;
        height: 45px;
        margin-right: 0;
        user-select: none;
        > i {
            font-size: 27px;
        }
    }
}
