@use 'colors' as colors;

.home-header-img {
    width: 100%;
    height: 231px;
    background-image: url('/styles/themes/default/images/header-bg.jpg');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    padding: 80px;
}
.home-header-img > .title {
    color: colors.$headerTitle;
    font-size: 30px;
    font-weight: bold;
}
