@use 'colors' as colors;

footer {
    background-color: colors.$footerBackground;
    color: colors.$primaryText;
    display: flex;
    align-items: center;
    padding: 100px 50px;
}
footer > .col-2 {
    display: flex;
    padding: 0 100px;
}
footer > .col-1 > .title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}
footer > .col-1 > .description {
    color: colors.$secondaryText;
    font-size: 16px;
    margin-bottom: 15px;
}
footer > .col-1 > .button-row {
    display: flex;
    flex-direction: row;
}
footer > .col-1 > .button-row > .button:last-child {
    margin: 0;
}
footer > .col-1 > .button-row > .button {
    padding: 14px 50px;
    border-radius: 4px;
    border: 2px solid colors.$buttonSecondaryBorder;
    background-color: colors.$buttonSecondary;
    margin: 0 15px 0 0;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}
footer > .col-1 > .button-row > .button:hover {
    background-color: colors.$buttonSecondaryHover;
}
footer > .col-1 > .button-row > .footer-active-box {
    background-color: colors.$buttonPrimary;
    border: 2px solid colors.$buttonPrimaryBorder;
    color: colors.$buttonPrimaryText;
}
footer > .col-1 > .button-row > .footer-active-box:hover {
    background-color: colors.$buttonPrimaryHover;
    border: 2px solid colors.$buttonPrimaryHoverBorder;
}
footer > .col-2 > .sm-col {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
footer > .col-2 > .sm-col:last-child {
    margin: 0;
}
footer > .col-2 > .sm-col > span {
    line-height: 35px;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
}
footer > .col-2 > .sm-col > span:hover {
    color: colors.$secondaryText;
}
