@use 'colors' as colors;

@media only screen and (max-width: 1600px) {
    .page-content > .module-content {
        padding: 80px 40px 40px 40px;
    }
    .home-header-img {
        padding: 80px 40px 80px 40px;
    }
}
@media only screen and (max-width: 1280px) {
    .module-content {
        flex-direction: column;
    }
    .module-content > .forum-sidebar {
        padding: 0;
        margin-top: 40px;
    }
    .forum-sidebar > .sidebar-card {
        width: initial;
    }
    .forum-sidebar > .sidebar-card > .header {
        padding: 20px 25px;
    }
}
@media only screen and (max-width: 1024px) {
    .page-nav {
        display: none;
    }
    footer {
        flex-direction: column;
    }
    footer > .col-2 {
        padding: 0;
        margin-top: 50px;
        width: 100%;
    }
    .page-content > .module-content {
        padding: 80px 0 40px 0;
    }
}
@media only screen and (max-width: 875px) {
    .resp--hide2 {
        display: none;
    }
}
@media only screen and (max-width: 650px) {
    .resp--hide1 {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: inherit;
    }
    footer > .col-1 > .button-row {
        flex-direction: column;
    }
    footer > .col-1 > .button-row > .button {
        margin: 0 0 15px 0;
    }
    footer > .col-2 {
        flex-direction: column;
    }
    footer > .col-2 > .sm-col {
        margin: 0;
    }
    footer > .col-2 > .sm-col > span {
        padding: 5px;
        border-radius: 4px;
        border: 2px solid colors.$buttonSecondaryBorder;
        background-color: colors.$buttonSecondary;
        white-space: initial;
        margin: 0 0 15px 0;
        cursor: pointer;
        text-align: center;
        transition: 0.3s;
        &:hover {
            background-color: colors.$buttonSecondaryHover;
            color: inherit;
        }
    }
}
