@use 'colors' as colors;
@use 'header';
@use 'footer';
@use 'sidebar';
@use 'common';
@use 'responsiveness';

body {
    background-color: colors.$bodyBackground;
}
// Workaround for a bug #4180
// https://github.com/google/material-design-lite/issues/4180
.mdl-layout__container.has-scrolling-header .mdl-layout__content {
    overflow-y: initial;
    overflow-x: initial;
    overflow: visible;
}
