.mdl-layout__header {
  background-color: #fff;
  color: #000;
}

.mdl-layout__drawer-button i {
  color: #00064b;
}

.mdl-layout__header-row .mdl-navigation__link {
  color: #00064b;
  background-color: inherit;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mdl-layout__header-row .mdl-navigation__link:hover {
  background-color: #f5f6f7;
}

.mdl-layout__header-row .mdl-navigation__link:hover .mdl-badge[data-badge]:after {
  border-color: #f5f6f7;
}

.mdl-badge[data-badge]:after {
  background: #39b54a;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mdl-navigation {
  display: contents;
}

.mdl-navigation > .account-btn {
  display: -webkit-flex;
  display: flex;
  height: 100%;
  align-items: center;
}

.account-btn > .avatar-img {
  width: 35px;
  height: 35px;
}

.search-forum-block {
  width: 500px;
  margin: auto 30px;
  position: relative;
}

.search-forum-block > i {
  font-size: 22px;
  color: #a8b7cd;
  position: absolute;
  top: 6px;
  left: 20px;
}

.search-forum-block > input {
  background-color: #f5f6f7;
  border: none;
  outline: none;
  padding: 9px 25px 9px 50px;
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-forum-block > input:focus {
  background-color: #ebeced;
}

.search-forum-block > input::placeholder {
  color: #9c9eae;
  opacity: 1;
}

.search-forum-block > input::-ms-input-placeholder {
  color: #9c9eae;
  opacity: 1;
}

.search-forum-block > input:-ms-input-placeholder {
  color: #9c9eae;
  opacity: 1;
}

.mobile-only {
  display: none;
  padding: 0 16px;
}

.desktop-only {
  display: inherit;
}

.mobile-only .mdl-navigation__link {
  flex-grow: 1;
  text-align: center;
}

.page-nav {
  margin-left: 40px !important;
  display: -webkit-flex;
  display: flex;
}

.page-nav .mdl-navigation__link {
  color: #555;
}

.mdl-layout__drawer {
  background: #fff;
  border: none;
}

.mdl-layout__drawer .mdl-navigation__link {
  color: #212121 !important;
  display: -webkit-flex !important;
  display: flex !important;
  align-items: center;
  cursor: pointer;
}

.mdl-layout__drawer .mdl-navigation__link > i {
  margin-right: 20px;
  font-size: 21px;
  color: #757575;
}

footer {
  background-color: #fff;
  color: #00064b;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding: 100px 50px;
}

footer > .col-2 {
  display: -webkit-flex;
  display: flex;
  padding: 0 100px;
}

footer > .col-1 > .title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

footer > .col-1 > .description {
  color: #857f99;
  font-size: 16px;
  margin-bottom: 15px;
}

footer > .col-1 > .button-row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

footer > .col-1 > .button-row > .button:last-child {
  margin: 0;
}

footer > .col-1 > .button-row > .button {
  padding: 14px 50px;
  border-radius: 4px;
  border: 2px solid #e8eef1;
  background-color: #fff;
  margin: 0 15px 0 0;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer > .col-1 > .button-row > .button:hover {
  background-color: #f5f6f7;
}

footer > .col-1 > .button-row > .footer-active-box {
  background-color: #39b54a;
  border: 2px solid #39b54a;
  color: #fff;
}

footer > .col-1 > .button-row > .footer-active-box:hover {
  background-color: #32a041;
  border: 2px solid #32a041;
}

footer > .col-2 > .sm-col {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

footer > .col-2 > .sm-col:last-child {
  margin: 0;
}

footer > .col-2 > .sm-col > span {
  line-height: 35px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
}

footer > .col-2 > .sm-col > span:hover {
  color: #857f99;
}

.module-content > .forum-sidebar {
  padding-left: 40px;
  margin-top: 101px;
}

.forum-sidebar > .sidebar-card {
  width: 300px;
  margin-bottom: 40px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.forum-sidebar > .sidebar-card:last-child {
  margin-bottom: 0;
}

.forum-sidebar > .sidebar-card > .header {
  padding: 20px 35px;
  border-bottom: 1px solid #e8eef1;
  font-weight: bold;
  color: #00064b;
}

.forum-sidebar > .sidebar-card > .content {
  color: #857f99;
}

.forum-sidebar > .sidebar-card > .content > .sidebar-row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e8eef1;
}

.forum-sidebar > .sidebar-card > .content > .sidebar-row:last-child {
  border-bottom: none;
}

.forum-sidebar > .sidebar-card > .content > .post-row {
  flex-direction: column;
  cursor: pointer;
  padding: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.forum-sidebar > .sidebar-card > .content > .post-row:hover {
  background-color: #f5f6f7;
}

.forum-sidebar > .sidebar-card > .content > .post-row > .post-title {
  color: #00064b;
}

.forum-sidebar > .sidebar-card > .content > .post-row > .author-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.forum-sidebar > .sidebar-card > .content > .post-row > .author-box > .img {
  min-width: 18px;
  min-height: 18px;
  margin-right: 10px;
}

.forum-sidebar > .sidebar-card > .content > .sidebar-row > .block {
  border-right: 1px solid #e8eef1;
  display: -webkit-flex;
  display: flex;
  padding: 30px 0;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forum-sidebar > .sidebar-card > .content > .sidebar-row > .block:last-child {
  border-right: none;
}

.forum-sidebar > .sidebar-card > .content > .sidebar-row > .block > .big-text {
  font-size: 25px;
  line-height: 25px;
  color: #00064b;
}

.forum-sidebar > .sidebar-card > .content > .sidebar-row > .block > .member-link {
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: #006cfb;
}

.forum-sidebar > .sidebar-card > .content > .sidebar-row > .block > .member-link:hover {
  text-decoration: underline;
}

.home-header-img {
  width: 100%;
  height: 231px;
  background-image: url("/styles/themes/default/images/header-bg.jpg");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding: 80px;
}

.home-header-img > .title {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.round-img {
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.round-icon {
  border-radius: 50%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1600px) {
  .page-content > .module-content {
    padding: 80px 40px 40px 40px;
  }

  .home-header-img {
    padding: 80px 40px 80px 40px;
  }
}
@media only screen and (max-width: 1280px) {
  .module-content {
    flex-direction: column;
  }

  .module-content > .forum-sidebar {
    padding: 0;
    margin-top: 40px;
  }

  .forum-sidebar > .sidebar-card {
    width: initial;
  }

  .forum-sidebar > .sidebar-card > .header {
    padding: 20px 25px;
  }
}
@media only screen and (max-width: 1024px) {
  .page-nav {
    display: none;
  }

  footer {
    flex-direction: column;
  }

  footer > .col-2 {
    padding: 0;
    margin-top: 50px;
    width: 100%;
  }

  .page-content > .module-content {
    padding: 80px 0 40px 0;
  }
}
@media only screen and (max-width: 875px) {
  .resp--hide2 {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  .resp--hide1 {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: inherit;
  }

  footer > .col-1 > .button-row {
    flex-direction: column;
  }

  footer > .col-1 > .button-row > .button {
    margin: 0 0 15px 0;
  }

  footer > .col-2 {
    flex-direction: column;
  }

  footer > .col-2 > .sm-col {
    margin: 0;
  }

  footer > .col-2 > .sm-col > span {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid #e8eef1;
    background-color: #fff;
    white-space: initial;
    margin: 0 0 15px 0;
    cursor: pointer;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  footer > .col-2 > .sm-col > span:hover {
    background-color: #f5f6f7;
    color: inherit;
  }
}
body {
  background-color: #f9f9fc;
}

/*
Workaround for a bug #4180
https://github.com/google/material-design-lite/issues/4180
*/
.mdl-layout__container.has-scrolling-header .mdl-layout__content {
  overflow-y: initial;
  overflow-x: initial;
  overflow: visible;
}

/*# sourceMappingURL=main.css.map */
